/*Estilos do Botão Primário (Botão Assinar Plano - Plano Popular)*/
.btn-primary {
    background-color: var(--accent-color); /*cor de fundo = cor de destaque*/
    border-color: var(--accent-color); /*cor da borda = cor de destaque*/
    color: var(--secondary-color); /*cor do texto = cor secundária*/
    font-weight: 600; /*efeito de negrito*/
    }
        
.btn-primary:hover { /*efeito do botão ao passar o mouse sobre*/
    background-color: #e59100; /*cor de fundo = cor de destaque*/
    border-color: #e59100; /* cor da borda = cor de destaque*/
    }

/*Estilos Cards de Planos*/
.plan-card { /*bor-radius, box-shadow, transition = borda arredondadas e sombra sutil*/
    border-radius: 15px; 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    border: none;
    overflow: hidden; /*garante que nada ultrapasse os limites do card*/
    }
        
.plan-card:hover { /*levantar 0.3rem ao passar o mouse*/
    transform: translateY(-0.3rem);
    }

/*Efeitos Cabeçalho de Planos*/
.plan-header { /*cabeçalho com fundo vermelho com texto de cor branca, centralizado e com espaçamento de 1.5rem*/
    background-color: var(--secondary-color);
    color: white;
    padding: 1.5rem;
    text-align: center;
    }

/*Efeitos Plano Popular*/
.popular-plan { /*borda = cor de destaque*/
    border: 3px solid var(--accent-color);
    position: relative;
    }
        
.popular-badge { /*badge "POPULAR" pendurado no canto superior direito*/
    position: absolute;
    top: -10px;
    right: 20px;
    background-color: var(--accent-color); /*cor de fundo = cor de destaque*/
    color: var(--secondary-color); /*cor do texto = cor secundária*/
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
    }

/*Efeitos Lista de Recursos*/
.feature-list { /*lista sem marcadores, sem padding padrão*/
    list-style-type: none;
    padding: 0;
    }
        
.feature-list li { /*itens da lista com espaçamento vertical de e borda inferior sutil*/
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    }
        
.feature-list li:last-child { /*último item não tem borda*/
    border-bottom: none;
    }
        
.feature-list li i { /*ícones {elementos <i>} na cor de destaque*/
    color: var(--accent-color);
    margin-right: 10px;
    }