<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>

<body>

    <div class="fundo-form">
        <form id="form-cad">
            <h1> BladeSys </h1>
            <h3> Bem-vindo ao sistema BladeSys, por favor insira suas informações para poder se Cadastrar. </h3>
            <input id="bt-nome" type="text" required placeholder="Digite seu nome completo">
            <input id="bt-end" type="text" required placeholder="Digite seu endereço">
            <input id="bt-email" type="email" required placeholder="Digite seu e-mail ou seu usuário">
            <input id="bt-senha" type="password" required placeholder="Digite sua senha">
            <button id="bt-cad"> Cadastrar-se </button>
        </form>
        <p> Já possui cadastro?</p>
        <a href="login.html">
            <button> Realizar Login </button>
        </a>
    </div>

</body>

</html>